

.head{
  text-align: center;
  width: 100%;
  font-weight: bold;
  text-decoration-color: blue;
  margin-top: 25px;
}
@media only screen and (min-width: 537px) {
  .center-div {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%; 
    padding: 15px; 
    text-align: left;
    border-style: solid;
    border: 5px;
    background-color: whitesmoke;
  }
}

@media only screen and (min-width: 600px){
  .col-button{
    display: -webkit-inline-box;;
    width: 180px;
  }
}
.button-div {
  margin-top: 20px;  
  text-align: center;
}

@media only screen and (min-width: 400px){
  .modal-textbox{
    width: 332px !important;
  }
  .btn-primary {
    margin-left: 5px;
    margin-right: 5px;
    width: 155px;
  }
}
.btn-primary {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
}
.btn-blue{
  width: 88px;
}
.btn-purple{
  width: 88px;
}
@media only screen and (max-width: 765px){
  .center-div {    
      text-align: center;
  }  
}
@media only screen and (min-width: 765px){
  .div-add{
    text-align: right;
  }
}








